* {
  margin: 0;
  padding: 0;
}

.App {
  background: no-repeat url('https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Global Container */
.weather__app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 80%;
  text-align: center;
}


/* Input */
.weather__input {
  padding: 10px;
  outline: none;
}

/* Border */
.weather__input,
.weather__current,
.weather__card {
  border-radius: 5px;
  border: none;
}

/* Current Weather */
.weather__current {
  width: 220px;
  padding: 30px;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.404);
}

/* Current Text */
.weather__city {
  text-align: left;
}
.weather__description {
  text-transform: capitalize;
}

/* Bottom Container */
.weather__prevision {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* Daily Cards */
.weather__card {
  text-transform: capitalize;
  font-size: 14px;
  width: auto;
  height: 50px;
  padding: 20px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.404);
}

@media screen and (min-width: 500px) {
  .weather__current {
    width: 515px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 244px;
  }

  .weather__prevision {
    position: relative;
    bottom: 50px;
  }

  .--firstday,
  .--secondday,
  .--thirdday {
    margin-right: 20px;
  }
}